.title {
  font-size: 24px;
  line-height: 24px;
  color: #9593A0;
  font-weight: 700;
  margin-bottom: 30px;
}

.users {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgb(0 0 0 / 25%);
  min-height: 422px;
  color: #9593A0;
}

.user {
  margin-bottom: 20px;
  display: flex;
}

.user:last-child {
  margin-bottom: 0;
}

.user__logo {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 64px;
}

.user__img {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #F3F3F3;
  border-radius: 50%;
  margin-bottom: 5px;
}

.btn {
  font-size: 14px;
}

.btn_blue {
  color: #1666C5;
}

.btn_red {
  color: red;
}

.user__info {
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
}

.user__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #3A3A3A;
}

.user__location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
  line-height: 16px;
  color: #3A3A3A;
}