.nav {
  grid-area: n;
  height: 100vh;
  background-color: #fff;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px 8px;
}

.nav div {
  margin-bottom: 8px;
}

.nav div:last-child {
  margin-top: 40px;
}

.item {
  color: #9593A0;
  height: 52px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  border-radius: 16px;
  padding-left: 16px;
  transition: 0.3s;
}

.item:hover {
  color: #fff;
  background: rgba(22, 102, 197, .6);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.item:focus {
  color: #fff;
  background: rgba(22, 102, 197, .6);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.active, .active:hover, .active:focus {
  color: #fff;
  background: #1666C5;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}